<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>MIP[ion]</h2>
                <p class="lead">MIP[ion] akronim dari Meruvian Integrat[ion] Platform adalah platform integrasi terpadu yang dapat mengintegrasikan sistem apapun dari/ke sistem apapun. MIP [ion] mengadopsi protokol AMQP sebagai layanan pesan, ini meningkatkan "nilai" dari JavaEE spesifikasi saat ini ke tingkat yang lebih baik. MIP[ion] juga memiliki menggunakan OSGI sebagai wadah untuk integrasi.</p>
            </div>
            <div class="row">
        <div class="features">
            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="fa fa-laptop"></i>
                    <h2>Title</h2>
                    <h3>Content.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="fa fa-edit"></i>
                    <h2>Title</h2>
                    <h3>Content.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="fa fa-star"></i>
                    <h2>Title</h2>
                    <h3>Content.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="fa fa-key"></i>
                    <h2>Title</h2>
                    <h3>Content.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="fa fa-line-chart"></i>
                    <h2>Title</h2>
                    <h3>Content.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="fa fa-list-ul"></i>
                    <h2>Title</h2>
                    <h3>Content.</h3>
                </div>
            </div><!--/.col-md-4-->
        </div><!--/.services-->
    </div><!--/.row-->
<div class="pull-right">
    <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
</div> 
</div>