<div class="row">
        <div class="container">
           <div class="center wow fadeInDown">
            <h2>MIP[id]</h2>
            <p class="lead">OAuth 2.0 Server</p>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-align-justify fa-stack-1x fa-inverse"></i>
                  </span> 
              </div>
              <div class="media-body">
                <h4 class="media-heading">OAuth2 Standard</h4>
                <p>Content.</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
              </span> 
          </div>
          <div class="media-body">
            <h4 class="media-heading">Modular</h4>
            <p>Content.</p>
        </div>
    </div>
    <div class="media">
        <div class="pull-left">
            <span class="fa-stack fa-2x">
          </span> 
      </div>
      <div class="media-body">
    </div>
</div>
</div>
<div class="col-md-4">
    <div class="media">
        <div class="pull-left">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
          </span> 
      </div>
      <div class="media-body">
        <h4 class="media-heading">External Integration</h4>
        <p>Content.</p>
    </div>
</div>
<div class="media">
    <div class="pull-left">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
      </span> 
  </div>
  <div class="media-body">
    <h4 class="media-heading">Title</h4>
    <p>Content.</p>
</div>
</div>
<div class="media">
    <div class="pull-left">
      </span> 
  </div>
  <div class="media-body">
</div>
</div>
</div>
<div class="col-md-4">
    <div class="media">
        <div class="pull-left">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
          </span> 
      </div>
      <div class="media-body">
        <h4 class="media-heading">Title</h4>
        <p>Content.</p>
    </div>
</div>
<div class="media">
    <div class="pull-left">
    <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-binoculars fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Title</h4>
    <p>Content.</p>
</div>
</div>
<div class="media">
    <div class="pull-left">
        <span class="fa-stack fa-2x">
      </span> 
  </div>
  <div class="media-body">
</div>
</div>
</div>
<div class="pull-right">
    <a  class="btn btn-primary" href="#/general-resul-test"><b>Informasi Lebih Lanjut >> </b></a>
</div> 
</div>